In [2]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

In [33]:
data = pd.read_table("QIE-data.txt")
display(data)

new_data = data[['A', 'B', 'AB', 'HWP A', 'HWP B']]
display(new_data)

print(new_data.to_latex(index=False,column_format='|c|c|c|c|c|'))

,A,B,A',B',A'B,AB,AB',A'B',HWP A,HWP B,E,Comments:,Duration (s),Sub. Acc.?
0,72342.1,49577.2,0.0,0.0,0.0,803.9,0.0,0.0,-45.0,-22.5,1.0,"CSCH N(-45,-22.5)",10.0,N
1,72308.2,49361.3,0.0,0.0,0.0,279.6,0.0,0.0,-45.0,22.5,1.0,"CSCH N(-45,22.5)",10.0,N
2,72591.5,50345.6,0.0,0.0,0.0,371.4,0.0,0.0,-45.0,67.5,1.0,"CSCH N(-45,67.5)",10.0,N
3,72305.0,49995.7,0.0,0.0,0.0,926.3,0.0,0.0,-45.0,112.5,1.0,"CSCH N(-45,112.5)",10.0,N
4,70554.0,49509.4,0.0,0.0,0.0,944.6,0.0,0.0,0.0,-22.5,1.0,"CSCH N(0,-22.5)",10.0,N
5,70615.3,49260.2,0.0,0.0,0.0,863.2,0.0,0.0,0.0,22.5,1.0,"CSCH N(0,22.5)",10.0,N
6,70596.1,49982.3,0.0,0.0,0.0,202.0,0.0,0.0,0.0,67.5,1.0,"CSCH N(0,67.5)",10.0,N
7,70411.7,50038.5,0.0,0.0,0.0,304.5,0.0,0.0,0.0,112.5,1.0,"CSCH N(0,112.5)",10.0,N
8,71712.9,49501.5,0.0,0.0,0.0,367.3,0.0,0.0,45.0,-22.5,1.0,"CSCH N(45,-22.5)",10.0,N
9,71600.2,49387.4,0.0,0.0,0.0,902.3,0.0,0.0,45.0,22.5,1.0,"CSCH N(45,22.5)",10.0,N
10,71701.8,50091.0,0.0,0.0,0.0,817.2,0.0,0.0,45.0,67.5,1.0,"CSCH N(45,67.5)",10.0,N
11,71877.2,50143.6,0.0,0.0,0.0,254.6,0.0,0.0,45.0,112.5,1.0,"CSCH N(45,112.5)",10.0,N
12,73758.4,49500.5,0.0,0.0,0.0,188.3,0.0,0.0,90.0,-22.5,1.0,"CSCH N(90,-22.5)",10.0,N
13,74350.5,49811.1,0.0,0.0,0.0,314.3,0.0,0.0,90.0,22.5,1.0,"CSCH N(90,22.5)",10.0,N
14,73810.3,50034.7,0.0,0.0,0.0,1002.7,0.0,0.0,90.0,67.5,1.0,"CSCH N(90,67.5)",10.0,N
15,73824.7,49887.1,0.0,0.0,0.0,900.1,0.0,0.0,90.0,112.5,1.0,"CSCH N(90,112.5)",10.0,N

          A        B      AB  HWP A  HWP B
0   72342.1  49577.2   803.9  -45.0  -22.5
1   72308.2  49361.3   279.6  -45.0   22.5
2   72591.5  50345.6   371.4  -45.0   67.5
3   72305.0  49995.7   926.3  -45.0  112.5
4   70554.0  49509.4   944.6    0.0  -22.5
5   70615.3  49260.2   863.2    0.0   22.5
6   70596.1  49982.3   202.0    0.0   67.5
7   70411.7  50038.5   304.5    0.0  112.5
8   71712.9  49501.5   367.3   45.0  -22.5
9   71600.2  49387.4   902.3   45.0   22.5
10  71701.8  50091.0   817.2   45.0   67.5
11  71877.2  50143.6   254.6   45.0  112.5
12  73758.4  49500.5   188.3   90.0  -22.5
13  74350.5  49811.1   314.3   90.0   22.5
14  73810.3  50034.7  1002.7   90.0   67.5
15  73824.7  49887.1   900.1   90.0  112.5

\begin{tabular}{|c|c|c|c|c|}
\toprule
A & B & AB & HWP A & HWP B \\
\midrule
72342.100000 & 49577.200000 & 803.900000 & -45.000000 & -22.500000 \\
72308.200000 & 49361.300000 & 279.600000 & -45.000000 & 22.500000 \\
72591.500000 & 50345.600000 & 371.400000 & -45.000000 & 67.500000 \\
72305.000000 & 49995.700000 & 926.300000 & -45.000000 & 112.500000 \\
70554.000000 & 49509.400000 & 944.600000 & 0.000000 & -22.500000 \\
70615.300000 & 49260.200000 & 863.200000 & 0.000000 & 22.500000 \\
70596.100000 & 49982.300000 & 202.000000 & 0.000000 & 67.500000 \\
70411.700000 & 50038.500000 & 304.500000 & 0.000000 & 112.500000 \\
71712.900000 & 49501.500000 & 367.300000 & 45.000000 & -22.500000 \\
71600.200000 & 49387.400000 & 902.300000 & 45.000000 & 22.500000 \\
71701.800000 & 50091.000000 & 817.200000 & 45.000000 & 67.500000 \\
71877.200000 & 50143.600000 & 254.600000 & 45.000000 & 112.500000 \\
73758.400000 & 49500.500000 & 188.300000 & 90.000000 & -22.500000 \\
74350.500000 & 49811.100000 & 314.300000 & 90.000000 & 22.500000 \\
73810.300000 & 50034.700000 & 1002.700000 & 90.000000 & 67.500000 \\
73824.700000 & 49887.100000 & 900.100000 & 90.000000 & 112.500000 \\
\bottomrule
\end{tabular}